/* colors */
$border-color: #d8d8d8;

.CategoryList {
  text-align: center;
  width: 30%;
  padding-left: 0.5rem;
}

.CategoryTable {
display: flex;
flex-direction: row;
align-items: center;
border: solid thin;
padding: 0.5rem 0.5rem;
} // duplicated with task from TaskList.scss

.CategoryTable_hidden {
  display: none;
  overflow: hidden;
}

.Category-title-child_open {
  display: block;
}

.checkMark {
  width: 20px;
  height: 20px;
}

.checkMark_hidden {
  visibility: hidden;
}

.Icon {
  margin-left: auto;
}

.Plus_icon {
  margin-left: 0.3rem;
}

.CreateCategoryModal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 100%;
  background-color: lightslategray;
  opacity: 0.9;
  z-index: 10;
}