.TaskList {
  width: 60%;
  text-align: center;
  padding-right: 0.5rem;
}

.Task {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid thin;
  padding: 0.5rem 0.5rem;
} // duplicated with category from CategoryList.scss

.Task-Edit_icon {
  border: solid thin;
  margin-left: auto;
}

.Task-title {
  margin-left: 1.5rem;
}