.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  padding: 0.3rem;
  border: solid thin;
}

.category-title {
  margin: 0 0.5rem;
  padding: 0;
  border: none;
  background: none;
  font-size: calc(8px + 1vmin);
  font-weight: bold;
  color: #6495ed;
  &:hover {
    background-color: #e7e7e7;
    color: black;
  }
}

.category-title--green {
  color: green;
}

.create-category-modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: lightslategray;
  opacity: 0.9;
  z-index: 10;
}

.category-edit_input {
  border: solid thin;
  color: black;
  padding-left: 0.2rem;
}

.check-mark {
  margin-right: 0.2rem;
}

.reply-icon {
  margin-right: 0.2rem;
  &:focus {
    background-color: #4e46bb46;
  }
}

.check-mark--hidden {
  margin-right: 0.2rem;
  visibility: hidden;
}

.icon {
  margin-left: auto;
}

.plus-icon {
  margin-left: 0.3rem;
}
