.Category {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0.3rem;
  border: solid thin;
}

.Category-title {
  margin: 0 0.5rem;
  padding: 0;
  border: none;
  background: none;
  font-size: 17px;
  font-weight: bold;
  color: #6495ed;
  &:hover {
    background-color: #e7e7e7;
    color: black;
  }
}

.Edit_input {
  border: solid thin;
  color: black;
  padding-left: 0.2rem;
}

.checkMark {
  margin-right: 0.2rem;
}

.ReplyIcon {
  margin-right: 0.2rem;
  &:focus {
    background-color: #4e46bb46;
  }
}

.checkMark_hidden {
  margin-right: 0.2rem;
  visibility: hidden;
}

.Icon {
  margin-left: auto;
}

.Plus_icon {
  margin-left: 0.3rem;
}
