.create_category {
  justify-items: left;
  padding: 1rem 1rem;
}

.create_category-form {
  display: flex;
  overflow: hidden;
}

.create_category-form_input {
  padding: 0.5rem 1rem;
  border: lightgrey;
  background-color: lightgrey;
  outline: none;

  &:focus {
    background-color: darkgrey;
  }
}

.form_button_add {
  padding: 0.5rem 1rem;
  background-color: limegreen;
  color: white;
  font-weight: 700;
  &:hover {
    background-color: lightgreen;
  }
  }

.create_category-form_button_close {
  padding: 0.5rem 1rem;
  margin: 0 0.1rem;
  background-color: grey;
  color: white;
  font-weight: 700;
  &:hover {
    background-color: lightslategray;
  }
}

.error {
  color: red;
  padding-top: 1rem;
  text-align: center;
}
