.create_task {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  margin-bottom: 1rem;
}

.create_task-form {
  display: flex;
  overflow: hidden;
}

.create_task-form_input {
  padding: 0.5rem 1rem;
  border: lightgrey;
  background-color: lightgrey;
  outline: none;

  &:focus {
    background-color: darkgrey;
  }
}
