.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 2rem;
}

.header-title {
  font-size: calc(20px + 1vmin);
  border: none;
  background: white;
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

a {
color: black;
text-decoration: none;
}

.header-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.header-filter_form {
  display: flex;
  align-items: center;
}

.header-form_input {
  padding: 0.5rem;
  font-size: 0.8rem;
  border: thin solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.header-form_button {
  float: left;
  width: 20%;
  padding: 0.5rem;
  background: #2196f3;
  color: white;
  font-size: 0.8rem;
  border: thin solid grey;
  border-left: none;
  cursor: pointer;
  &:hover {
    background: #0b7dda;
  }
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

$primary: #0b7dda;

.header-task-table_button {
  padding: 0.8rem 1.6rem;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  background-color: $primary;
  border: 2px solid $primary;
  cursor: pointer;
  width: max-content;
  transition: 0.25s ease;

  &:hover {
    color: $primary;
    background-color: transparent;
  }
  &--transparent {
    color: $primary;
    background-color: transparent;
  }
}
